@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --breakpoint-xsm: 530px;
    --breakpoint-xs: 420px;
    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/*Rotation à droite*/
@keyframes rotationDroite { 
  from { 
    transform: rotate(0deg); 
  } 
  to { 
    transform: rotate(180deg); 
  } 
} 
.animation-rotation-droite { animation: rotationDroite 0.6s ease forwards; } 

/*Rotation à gauche*/
@keyframes rotationGauche { 
  from { 
    transform: rotate(180deg); 
  } 
  to { 
    transform: rotate(0deg); 
  } 
} 
.animation-rotation-gauche { animation: rotationGauche 0.6s ease forwards; }

/*Apparition glisser de la gauche*/
@keyframes glisserGauche {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
.animation-glisser-gauche {
    animation: glisserGauche 0.6s ease forwards;
}

/*Apparition glisser de la droite*/
@keyframes glisserDroite {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.animation-glisser-droite {
    animation: glisserDroite 0.6s ease forwards;
}

/*Apparition glisser du haut*/
@keyframes glisserHaut {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}
.animation-glisser-haut {
    animation: glisserHaut 1.0s ease forwards;
}

/*Apparition glisser de la gauche en fondu*/
@keyframes glisserGaucheFondu {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-glisser-gauche-fondu {
    animation: glisserGaucheFondu 0.8s ease forwards;
}

/*Apparition simple fondu*/
@keyframes apparition-simple-fondu {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-apparition-simple-fondu {
    animation: apparition-simple-fondu 0.8s ease forwards;
}

@keyframes apparition-centre {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.animation-apparition-centre {
    transform-origin: center;
    animation: apparition-centre 0.8s ease-out forwards;
    opacity: 0;
}

@keyframes apparition-fondu-haut {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-apparition-fondu-haut {
    animation: apparition-fondu-haut 0.8s ease-out forwards;
    opacity: 0;
}

@keyframes apparition-fondu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation-apparition-fondu {
    opacity: 0;
    animation: apparition-fondu 0.8s ease-out forwards;
}

/*Lévitation de haut en bas*/
@keyframes levitationHautBas {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-8px) scale(1.03);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.animation-levitation-haut-bas {
    animation: levitationHautBas 4s ease-in-out infinite;
    transform-origin: center;
}

/*Apparition fondu de la gauche*/
@keyframes apparition-fondu-gauche {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-apparition-fondu-gauche {
    opacity: 0;
    animation: apparition-fondu-gauche 0.8s ease-out forwards;
}

/*Apparition fondu de la droite*/
@keyframes apparition-fondu-droite {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-apparition-fondu-droite {
    opacity: 0;
    animation: apparition-fondu-droite 0.8s ease-out forwards;
}

/*Ouverture en hauteur des lignes du grille*/
@keyframes ouvertureHauteurLigneGrille {
    from { 
        grid-template-rows: 0.5fr; 
    }
    to { 
        grid-template-rows: 1fr; 
    }
}

.animation-ouverture-hauteur-ligne-grille {
    display: grid;
    animation: ouvertureHauteurLigneGrille 0.5s ease-out forwards;
}

/*Fermeture en hauteur des lignes du grille*/
@keyframes fermetureHauteurLigneGrille {
    from { grid-template-rows: 1fr; }
    to { grid-template-rows: 0.5fr; }
}

.animation-fermeture-hauteur-ligne-grille {
    display: grid;
    animation: fermetureHauteurLigneGrille 0.5s ease-in forwards;
}

/*Ouverture de carte*/
@keyframes ouverture-carte {
    from { 
        transform: scaleY(1); 
        transform-origin: top; 
    }
    to { 
        transform: scaleY(1); 
        transform-origin: top; 
    }
}

.animation-ouverture-carte {
    animation: ouverture-carte 0.5s ease-out forwards;
}

/*Fermeture de carte*/
@keyframes fermeture-carte {
    from { 
        transform: scaleY(1); 
        transform-origin: top; 
    }
    to { 
        transform: scaleY(1); 
        transform-origin: top; 
    }
}

.animation-fermeture-carte {
    animation: fermeture-carte 0.5s ease-in forwards;
}

/*Apparition du centre pour les côtés*/
@keyframes apparitionCentreCoteGaucheDroite {
    from {
        
        transform: scaleY(0);
        transform-origin: center;
    }
    to {

        transform: scaleY(1);
        transform-origin: center;
    }
}

.animation-apparition-centre-cote-gauche-droite {
    animation: apparitionCentreCoteGaucheDroite 0.5s ease-out forwards;
}

/*Apparition du centre pour les côtés*/
@keyframes apparitionCentreCoteHautBas {
    from {
        
        transform: scaleX(0);
        transform-origin: center;
    }
    to {

        transform: scaleX(1);
        transform-origin: center;
    }
}

.animation-apparition-centre-cote-haut-bas {
    animation: apparitionCentreCoteHautBas 0.5s linear forwards !important;
}

@keyframes ouverture-image {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fermeture-image {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animation-ouverture-image {
    animation: ouverture-image 1s ease-out forwards;
}

.animation-fermeture-image {
    animation: fermeture-image 0.3s ease-in forwards;
}

@keyframes zoom-leger {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.10);
    }
}

.animation-zoom-leger {
    animation: zoom-leger 4s ease-in-out infinite;
}






/* Ouverture en largeur des colonnes de la grille */
@keyframes ouvertureLargeurColonneGrille { 
    from {  
        grid-template-columns: 0.5fr;  
    } 
    to {  
        grid-template-columns: 1fr;  
    } 
} 
 
.animation-ouverture-largeur-colonne-grille { 
    display: grid; 
    animation: ouvertureLargeurColonneGrille 0.5s ease-out forwards; 
} 
 
/* Fermeture en largeur des colonnes de la grille */
@keyframes fermetureLargeurColonneGrille { 
    from { 
        grid-template-columns: 1fr; 
    } 
    to { 
        grid-template-columns: 0.5fr; 
    } 
} 
 
.animation-fermeture-largeur-colonne-grille { 
    display: grid; 
    animation: fermetureLargeurColonneGrille 0.5s ease-in forwards; 
}

/*Ouverture de carte*/
@keyframes ouverture-carte-gauche {
    from { 
        transform: scaleX(1); 
        transform-origin: left; 
    }
    to { 
        transform: scaleX(1); 
        transform-origin: left; 
    }
}

.animation-ouverture-carte-gauche {
    animation: ouverture-carte-gauche 0.5s ease-out forwards;
}

/*Fermeture de carte*/
@keyframes fermeture-carte-gauche {
    from { 
        transform: scaleX(1); 
        transform-origin: left; 
    }
    to { 
        transform: scaleX(1); 
        transform-origin: left; 
    }
}

.animation-fermeture-carte-gauche {
    animation: fermeture-carte-gauche 0.5s ease-in forwards;
}
