@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xs: 420px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Rotation à droite*/
@keyframes rotationDroite { 
  from { 
    transform: rotate(0deg); 
  } 
  to { 
    transform: rotate(180deg); 
  } 
} 
.animation-rotation-droite { animation: rotationDroite 0.6s ease forwards; } 

/*Rotation à gauche*/
@keyframes rotationGauche { 
  from { 
    transform: rotate(180deg); 
  } 
  to { 
    transform: rotate(0deg); 
  } 
} 
.animation-rotation-gauche { animation: rotationGauche 0.6s ease forwards; }

/*Apparition glisser de la gauche*/
@keyframes glisserGauche {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
.animation-glisser-gauche {
    animation: glisserGauche 0.6s ease forwards;
}

/*Apparition glisser de la droite*/
@keyframes glisserDroite {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.animation-glisser-droite {
    animation: glisserDroite 0.6s ease forwards;
}

/*Apparition glisser du haut*/
@keyframes glisserHaut {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}
.animation-glisser-haut {
    animation: glisserHaut 1.0s ease forwards;
}

@keyframes glisserGaucheFondu {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-glisser-gauche-fondu {
    animation: glisserGaucheFondu 0.8s ease forwards;
}

@keyframes apparitionSimple {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation-apparition-simple {
    animation: apparitionSimple 0.8s ease forwards;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-apparition {
    animation: apparition 1.2s ease forwards;
}


@keyframes levitationHautBas {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-8px) scale(1.03);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.animation-levitation-haut-bas {
    animation: levitationHautBas 4s ease-in-out infinite;
    transform-origin: center;
}